.one-page-nav{
	padding: 10px 0px;
	background: rgba(164, 127, 110, 0.8);
}
.one-page-nav .navbar-nav>.active>a, .one-page-nav .navbar-nav>.active>a:focus, .one-page-nav .navbar-nav>.active>a:hover{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
	color: #fff;
}.one-page-nav .navbar-nav>li>a{
	color: #fff;
}
.one-page-nav .navbar-nav>li>a:hover{
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: #fff;
}
.one-page-nav .navbar-nav>li>a:focus, .one-page-nav .navbar-nav>li>a:hover{
	color: #fff;
	
}
.one-page-nav .navbar-brand{
	border: 1px solid #fff;
	color: #fff;
}

@media only screen and (min-width: 768px) {
	body .pth-navbar {
		display: flex !important;
		justify-content: space-between;
		align-items: center;
	}
	.pth-navbar .logo {
		display: block;
	}
}

